#service-booking-services .service-booking-service {
  background: rgba(255, 255, 255, 0.43);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(18.5px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  padding: 30px;
  margin-bottom: 30px;
  max-width: 550px;
}

#service-booking-services .service-booking-service .row {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#service-booking-services .service-booking-service .row label input,
#service-booking-services .service-booking-service .row label select,
#service-booking-services .service-booking-service .row.fullWidth label,
#service-booking-services .service-booking-service .row.fullWidth textarea {
  width: 100%;
}

#service-booking-services .service-booking-service fieldset label:last-of-type {
  padding-left: 10px;
}
